version: "3.9"

services:
  whatsapp-bot:
    build: .
    container_name: whatsapp-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./auth_info:/app/auth_info
      - ./data:/app/data
    ports:
      - "3512:3512"